@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Kosugi+Maru&display=swap");

/*ヘッダー*/

header {
    height: 90px;
    width: 100%;
    position: fixed;
    background-color:#FFFFFF;
}

.logo {
    float: left;
}

.logo img {
    height: 80px;
}

.global-nav {
    margin: 4px;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 11pt;
}

@media (max-width: 720px) {
    .logo img {
        height: 64px;
    }
    header {
        height: 100px;
    }
    .logo {
        float: none;
    }
    .global-nav {
        height: auto;
    }
}

.manga-icon {
    height: 128px;
    width: 128px;
}

.global-nav li {
    float: left;
    margin: 0 10px;
    font-size: 0 20px;
    list-style: none;
    font-family: 'kokoro', serif;
    position: relative;
    display: flex;
}


.global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
/*    padding-bottom: 2px;*/
    text-decoration: none;

}

.global-nav li a {
    color: black;
}

.changelog {
    box-sizing: border-box;
    height: 320px;
    width: 100%;
    padding: 8px;
    overflow-y: scroll;
    font-size: 10pt;
}

.changelog ul {
    padding-inline-start: 16px;
}

/*マウス―バーメニューの設定*/

.global-nav-sub {
    width: 130px;
    top:20px;
    left:-20px;
    position: absolute;
    padding: 0;
    background-color: #FFFFFF;
/*    z-index: 2;*/
}

.global-nav-sub li a {
    font-size: 12px;
    margin-top: 10px;
/*    z-index:2;*/
    display: block;
}





.logo {}

/*フッター*/

footer {
    text-align: center;
    color: #000000;
    padding: 20px 0;
    background-color: #fdeff2;
}

footer small {
    font-size: 12px;
}

/*共通*/

.wrap {
    padding-top: 120px;
    padding-bottom: 30px;
    font-family: 'hanari', serif;
    background-image: url(../img/323e76a28541aecb5ecc0d18f4e9d433_m.jpg);
}

a:hover {
    text-decoration: underline;
}


.contents {
    max-width: 640px;
    margin: 0px auto;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

h2.contents {
    background-color: #ffffff;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*a img:hover {
    opacity: 0.5;
}*/



/*インデックス関連*/

#index {
    background-color: #ffffff;
}

/*トップページ関連*/

#top {
    background-color: #ffffff;
    font-style: bold;
}

/*ビッグカード*/
/*https://do.gt-gt.org/ より拝借*/


a.bigcard {
    display: flex;
    text-decoration: none;
    /*-webkit-box-orient: vertical;*/
    direction: normal;
    /*flex-direction: column;*/
    margin-bottom: 20px;
    transition: background .3s;
    transition: background .3s;
}

a.bigcard:hover {
    background: #f7f6f3;
    /* ※リンクカードをホバーしたときの背景色 */
    color: inherit;
}

a.bigcard h5 {
    font-size: 20px;
    margin: 10px 0 0;
}

a.bigcard .memo {
    font-size: 13px;
    margin-top: 0;
    color: #aba9a5;
}

a.bigcard figure {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a.bigcard figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

a.bigcard .text {
    -webkit-box-flex: 2;
    flex: 2;
    padding: 5px;
}


/*テキストエリア関連*/
textarea{
    resize: none;
    background-color: rgba(255,255,255, 0.3);
    border:none;
}






/*漫画関連*/

#manga section {
    margin-left: 20px;
}

.manga-list li {
    font-size: 18px;
    list-style: none;
    margin-bottom: 10px;
}

.manga-list li a {
    color: black;
    font-style: normal;
}

#story li {
    list-style: none;
    margin-bottom: 10px;
}

/*アルバム関連*/

.album img {
    display: block;
    zoom:60%;
    border: 3px solid #8d6449;
    border-left: 20px solid #8d6449;
}

.album section{
    display:inline;
    background-color: #FFFFFF
}
/*アバウト*/

.contents #icon img {
    width: 240px;
}

.biography {
    margin: 16px;
}

.profile p h1 {
    margin-left: 10px;
    width: 600px;
    float: left;
}


/*リンクページ*/

#link li {
    list-style: none;
}

/*ビューアー*/

#viewer .sheet {
    margin: 0 auto;
    max-width: 800px;
}

.btn-toolbar {
    margin: 32px auto;
    max-width: 800px;
}

#page-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group button {
    margin: 4px;
    cursor: pointer;
    border: none;
    background: #00a381;
    color: white;
    width: 96px;
    height: 32px;
    border-radius: 2px;
}

.btn-group button:hover {
    background: #66c7b3;
}

#page-list button {
    margin: 4px;
    cursor: pointer;
    border: none;
    background: #00a381;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

#page-list button:hover {
    background: #66c7b3;
}

#page-list button.active {
    background: #66c7b3;
}